.App {
  font-family: sans-serif;
  text-align: center;
}
.details-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 100px 20px;
  justify-content: center;
}
.detail {
  padding-bottom: 50px;
  margin-bottom: 50px;
  margin-right: 20px;
  cursor: pointer;
  background-color: rgb(182, 204, 226);
  -webkit-transition: -webkit-transform 0.5s ease;
  -moz-transition: -moz-transform 0.5s ease;
  transition: transform 0.5s ease;
}
.detail:hover {
  -webkit-transform: scale(1.09);
  -moz-transform: scale(1.09);
  -o-transform: scale(1.09);
  transform: scale(1.09);
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
}
.img {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.detail-title {
  font-weight: bold;
  font-size: 16px;
  width: 200px;
  margin: 0 auto;
  padding-top: 30px;
}
.lds-dual-ring {
  display: inline-block;
  width: 120px;
  height: 120px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 120px;
  height: 120px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid rgb(26, 65, 85);
  border-color: rgb(26, 65, 85) transparent rgb(26, 65, 85) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
